@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Pirata One', sans-serif;
    background-image: url('/public/images/pattern.png');
    
}

/* HTML: <div class="parallelogram"></div> */
.parallelogram {
    --p: 50px; /* control the shape (can be percentage) */
    width: 100%;
    height: 400px;
    aspect-ratio: 16/9;
    clip-path: polygon(0 var(--p),0 100%,100% calc(100% - var(--p)),100% 0);
    background: #ffffff;
  }